@model AlmaHogarFront.DTO.VentaDTO

    @{
    var promociones = ViewBag.Promociones as List<AlmaHogarFront.DTO.PromocionDTO>;
    var productosFiltrados = ViewBag.prodFiltrados as List<AlmaHogarFront.Models.Producto>;
    }

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group" style="max-width: 400px;">
        <input type="text"
               name="nombre"
               class="form-control"
               placeholder="Buscar producto..."
               value="@ViewData["CurrentFilter"]" />

        <button type="submit" class="btn btn-primary"> Buscar</button>
    </div>
</form>
@if (productosFiltrados == null || productosFiltrados.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        No se encontraron productos.
    </div>
}else{

<table class="table">
    <thead>
        <tr>
            <th>
              Codigo
            </th>
            <th>
                Nombre
            </th>
        
            <th>
                Precio
            </th>
            <th>
                Stock
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in productosFiltrados)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
              
             <td>
                        <form asp-action="Agregar" method="post" class="d-flex gap-2">
                            <input type="hidden" name="codigo" value="@item.codigo" />
                            <input type="hidden" name="nombre" value="@item.nombre" />
                            <input type="hidden" name="precio" value="@item.precio" />

                            <input type="number"
                                   name="cantidad"
                                   class="form-control text-center"
                                   style="max-width: 90px;"
                                   min="1"
                                   max="@item.stock"
                                   value="1" />

                            <button type="submit" class="btn btn-success btn-sm">
                                Guardar
                            </button>
                        </form>
             </td>
            
        </tr>
}
    </tbody>
</table>
   
}


<h2>Registrar Venta</h2>

<form asp-action="Create" method="post" class="mt-3">

    <div class="form-group mb-2">
        <label>Vendedor</label>
        <input asp-for="idVendedor" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label>Nombre del comprador</label>
        <input asp-for="nombreComprador" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label>DNI</label>
        <input asp-for="dniComprador" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label>Correo</label>
        <input asp-for="correoComprador" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label>Teléfono</label>
        <input asp-for="telefonoComprador" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar Venta
    </button>

</form>


@if (ViewBag.ListaProd != null && ((List<AlmaHogarFront.Models.ProductoVM>)ViewBag.ListaProd).Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>

            <h5>Productos agregados</h5>
            @foreach (var prodDto in ViewBag.ListaProd as List<AlmaHogarFront.Models.ProductoVM>)
            {
                <tr>
                    <td>@prodDto.nombre</td>
                    <td>@prodDto.cantidad</td>
                    <td>@prodDto.precio</td>
                    <td>@(prodDto.cantidad* prodDto.precio)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end"><strong>Total:</strong></td>
                <td><strong>@ViewBag.Total</strong></td>
            </tr>
        </tfoot>
    </table>
}

@if (promociones != null && promociones.Count > 0)
                {

                    <h5>Promociones disponibles</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID Promocion</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                 <th>Descuento</th>
                               <th>Monto a descontar</th>
                               <th>fecha de inicio</th>
                               <th>Fecha de fin</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var promo in promociones)
                            {
                                <tr>
                                    <td>@promo.id_Promocion</td>
                                    <td>@promo.titulo</td>
                                   <td>@promo.descripcion</td>
                                   <td>@promo.descuento %</td>
                                  <td>@promo.precioDescontado</td>
                                   <td>@promo.fecha_Inicio</td>
                                   <td>@promo.fecha_Fin</td>
                   
                                </tr>
                            }
                        </tbody>
                    </table>


}